.App {
  text-align: center;
  font-family: sans-serif;
}

.poemBlock {
  width:300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:5%;
}

.inline{
  display: inline; 
}

.authorSign{
  color: #737373;
  padding-top:3px;
}

.error{
  text-align:center;
  color: red;
  width:300px;
  margin-left: auto;
  margin-right: auto;
}

p, button {
  border: none;
  font-weight:bold;
  font-size: 10px;
  margin: 1px;
}

button{
  margin: 0px;
  padding:0px;
}

button:hover{
  color: #737373;
}

button:focus{
    outline: none;
}

ul {
  list-style-type: none;
  padding: 0px;
}


input {
  width:300px;
  margin-left: auto;
  margin-right: auto;
  display:block;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top:10px;
}

input:focus{
    outline: none;
    bordor-color:black;
}
