.App {
  text-align: center;
  font-family: sans-serif;
}

.inline{
  display: inline;
}

p, button {
  border: none;
  font-weight:bold;
  font-size: 10px;
}

button{
  margin: 0px;
  padding:0px;
}

button:hover{
  color: #737373;
}

input {
  width: 40%;
  margin-left: 30%;
  margin-right:30%;
  display:block;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
}
